.card{
  margin: 20px 0;
}

.card img {
  float: left;
  margin-right: 20px;
  object-fit: cover;
}
.card p{
  margin-top: 30px;
}

.wrap-button{
  float: right;
  position: absolute;
  top: 15px;
  right: 20px;
}

.btn {
  margin-left:5px;
}